# =========================
# NODE / EXPRESS
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# ENVIRONNEMENT
# =========================
.env
package.json
package-lock.json
# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/
*.swp

# =========================
# BUILD / CACHE
# =========================
dist/
build/
.cache/

# =========================
# LOGS
# =========================
logs/
*.log
